// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tweets-box{
  border: 1px solid #e8e6e6;
padding: 15px;
margin: 10px;
}

.hidden {
  display: none;
}
